.ok {
    color: green;
}

.error {
    color: red;
}

.item {
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
}

.item.final {
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

.item.final button {
    height: 3rem;
    width: 50%;
}

button, input {
    padding: 5px 10px;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    text-wrap: nowrap;
}

input {
    width: 100%;
}
